@media screen and (min-width: 800px) {
    section.summary img {
        display: block;
        max-width: 8rem;
    }

    main section.summary {
        flex-direction: row;
        row-gap: 0rem;
        column-gap: 3rem;
    }

    section.simulator form {
        display: flex;
        align-items: flex-end;
        column-gap: 1rem;
    }

    section.simulator form, form .form-input, .form-input input {
        width: max-content;
    }
}
