
body {
    background-color: var(--dark-color);
    padding-bottom: 3rem;
}

.container {
    width: 88%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

main p {
    color: var(--light-color);
}

main section h2 {
    margin-bottom: 1rem;
}

main section h3 {
    margin-bottom: 0.75rem;
    margin-top: 1rem;
}

main section p {
    line-height: 1.5;
    text-align: justify;
}

main section.summary {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--primary-color);
}

section.summary img {
    display: none;
}

section.simulator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.simulator form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

section.simulator form, form .form-input, .form-input input {
    width: 100%;
}

section.simulator form button {
    min-width: 6rem;
}

section#result {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

section#result span {
    font-family: var(--primary-font);
}

section#result .result-box {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
}

section#result .result-box p {
    color: var(--dark-color);
    font-weight: bold;
}

section.about .image-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    row-gap: 0.5rem;
}

section.about img {
    max-width: 300px;
    border-radius: 0.5rem;
}

section.wallets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.wallets .list-items {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    list-style: none;
    margin-top: 2rem;
}

section.wallets .list-items .item {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    background-color: var(--light-color);
    padding: 1rem;
    border-radius: 0.5rem;
}

section.wallets .list-items .item h4, section.wallets .list-items .item p {
    color: var(--secondary-color);
}

section.wallets .list-items .item img {
    max-width: 8rem;
    border-radius: 100%;
}